.ex-1-square:hover{
    transition: 3s;
    background-color: red;
}
.ex-2-square:active{
    transition: 5s;
    width: 100%;
}
.ex-3-square:hover{
    transition: 2s;
    border-radius: 100%;
}
.ex-4-square:hover{
    transition: 2s;
    filter: opacity(0);
}
.ex-5-square:hover{
    transition: 2s;
    transform: scale(1.4);
}
.ex-5-square:active{
    transition: 2s;
    transform: scale(0.7);
}
.ex-6-img:hover{
    transition: 2s;
    filter: grayscale(1);
}
.ex-7-img:hover{
    transition: 2s;
    filter:blur(2px) grayscale(2);
}
.ex-8-img:hover{
    transition: 2s;
    filter:blur(2px) grayscale(2);
    border-radius: 40px 40px;
}
.ex-9-img:hover{
    transition: 2s;
    filter:blur(2px) grayscale(2);
    border-radius: 40px 40px;
    transform: scale(0.7);
}
.ex-10-icon:hover{
    animation: rotate10 1s infinite ;
}
@keyframes rotate10 {
    0%{
        transform: rotate(360deg);
    }
}
.ex-11-icon:hover{
    animation: rotate11 3s linear ;
}
 @keyframes rotate11 {
    0%{ 
        transform: rotate(0);
    }
    70%{ 
        transform: rotate(270deg);
    }
    100%{ 
        transform: rotate(0);
        
    } 
} 
.ex-12-button:hover .ex-12-top-white{
    animation: move12top 3s infinite;
}
@keyframes move12top {
    0%{
        left: 10%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: move12bottom 3s infinite;
}
@keyframes move12bottom {
    0%{
        right: 10%;
    }
    50%{
        right: 60%;
    }
    100%{
        right: 10%;
    }
}
/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: turntop 2s infinite;
}
@keyframes turntop {
    0%{
        left: 10%;
        top: -10px;
    }
    20%{   
        left: 100%;
        top: -10px;
    }
    40%{   
        left: 100%;
        top: 100%;
    }
    60%{   
        left: -10px;
        top: 100%;
    }
    80%{   
        left: -10px;
        top: -10px;
    }
    100%{   
        left: 10%;
        top: -10px;
    }
     
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: turnbottom 2s infinite;
}
@keyframes turnbottom {
    0%{
        bottom: -10px;
        right: 20%;
    }
    20%{   
        bottom: -10px;
        right: calc(90% - 30px);
    }
    40%{   
        bottom: 100%;
        right: calc(90% - 30px);
    }
    60%{   
        bottom: 100%;
        right: -10px;
    }
    80%{   
        bottom: -10px;
        right: -10px;
    }
    100%{   
        bottom: -10px;
        right: 20%;
    }
     
}